<article>
    <div>
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div>
        <p>{{content}}</p>
    </div>
    <div>
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>