<article>
    <p>{{user.username}}</p>
        <span>
            on {{format_date created_at}}
        </span>
    <div>
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div>
        <p>{{content}}</p>
    </div>
    <div>
        <a href="/post/{{id}}">
            {{comments.length}} {{format_plural "comment" comments.length}}
        </a>
    </div>
</article>