<a href="/post/{{id}}">
    <article class="post-info">
        <div class="post-info-user">
            <p>
                {{user.username}}
                <span>
                    on {{format_date created_at}}
                </span>
            </p>
        </div>
        <div class="post-info-title">
            <p>{{title}}</p>
        </div>
        <div class="post-info-content">
            <p>{{content}}</p>
        </div>
        <div class="post-info-comments">
            <p>
                {{comments.length}} {{format_plural "comment" comments.length}}
            </p>
        </div>
    </article>
</a>